<section class="hero is-dark is-bold is-small">
    <div class="hero-body">
        <div class="container level">
            <h1 class="title is-1 level-left">
                {{ projectTitle }} 
            </h1>
            <figure class="image is-128x128 level-right">
                <img class="is-rounded" src="././../assets/hogwarts-silhouette-clipart-good-resolution-4.png">
            </figure>
        </div>
    </div>
</section>
<section class="section has-background-grey-lighter">
    <app-houses></app-houses>
</section>