<div class="has-background-grey-lighter">
    <div class="container">
        <div class="columns">
            <section class="column">
                <app-house-list
                    [houses]="houses"
                    (selectEvent)="onSelect($event)"
                ></app-house-list>
            </section>
            <section class="column">
                <app-house-editor
                    [selectedHouse]="selectedHouse"
                ></app-house-editor>
            </section>
        </div>
    </div>
</div>